@charset "utf-8";
body { 
	font-family : Verdana, Arial, Helvetica, Sans-serif;
	padding: 30px;	
	line-height: 1.5em;
} 
h1, h2, h3 {
	text-align: center
}
section, h1, h2, h3 {
	margin: 50px 0;
}
blockquote {
	margin-left: 1.2em;
}
a {
	text-decoration : underline; 
} 
:active { 
	text-decoration : none; 
}
a:focus, a:hover {
	outline: solid
}
ul li,
ol li,
label,
button,
details {
	line-height: 2;
}
